# Core AI (NCNN เพียวๆ ไม่พึ่งพา Torch)
ncnn

# Computer Vision (ระบุเวอร์ชันที่เสถียรบน ARM)
opencv-python-headless==4.6.0.66
numpy<2.0.0

# Web Server & UI
flask

# Environment & Config
python-dotenv

# Networking (หากมีการส่งข้อมูล MQTT)
paho-mqtt